* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orangered;
  padding: 15px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  color: white;
  font-size: 18px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  gap: 20px;
}

.box {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

