* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    padding: 10px;
}



.container {
    display: flex;
    background-color: lightblue;
    padding: 15px;
    height: 100px;
    gap: 5px;
}

.box {
    width: 60px;
    height: 60px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}