* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #91eff4;
  padding: 40px;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.card h2 {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}

.card h2::after {
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: blue;
  transition: width 0.4s ease;
}

.card p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card button {
  padding: 10px 20px;
  border: none;
  background: rgb(190, 122, 147);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.card:hover h2::after {
  width: 100%;
}

.card button:hover {
  background: rgb(247, 242, 100);
  color: black;
  transform: scale(1.08);
}
