* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: aqua;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}
.btn {
  padding: 15px 30px;
  border: none;
  background-color: rgb(112, 112, 227);
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: purple;
}
